.containerPromo {
    position: relative;
    margin: auto;
    text-align: center;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 6px 12px #dce1e1;
}

.containerPromo img {
    position: relative;
    width: 700px;
    height: 50%;
    border-radius: 15px;
}

