<div class="category-container container-md">


    <!-- 
        1. NFTS
        2. Photos
        3. Documents
        4. Music
        5. Audiobooks
        6. All categories
     -->

     <div class="cat-item nft-container card">
        <h3>NFT Container</h3>
     </div>
     <div class="cat-item photo-container card">
        <h3>Photo Container</h3>
     </div>
     <div class="cat-item document-container card">
        <h3 (click)="goToDocumentPage()">
            Document Container
        </h3>
     </div>
     <div class="cat-item music-container card">
        <h3 (click)="goToMusicPage()">Music</h3>
        <i class="gg-music-note"></i>
     </div>
     <div class="cat-item audiobook-container card">
        <h3 (click)="goToAudiobookPage()">Audiobook Container</h3>
     </div>
     <div class="cat-item all-container card">
        <h3 (click)="goToAllPage()">All Container</h3>
     </div>
     
     

     
</div>