<link href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Team Green</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Our Policies</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Promos</h4>
                <ul>
                    <li><a href="#">New Customer Promo</a></li>
                    <li><a href="#">Repeat Customer Promo</a></li>
                    <li><a href="#">Holiday Promos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-Facebook-f"></i></a>
                    <a href="#"><i class="fab fa-Twitter-f"></i></a>
                    <a href="#"><i class="fab fa-Instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


