/* DashboardComponent's private CSS styles */

h1 {text-align: center;}

h2 {text-align: center;}

.ib {
    display: inline-block;
    border: 10px solid #ccc;
}
.dashboard-title{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: no wrap;
}
.dashboard-row{
    border: 1px solid #FFFFFF;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    width: 204px;
}
.dashboard-row-title{
    font-size: 14px;
    font-weight: bold;
}

  
.dashboard-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
  
a {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: rgb(10, 1, 1);
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
  
@media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
}
  
a:hover {
    background-color: rgb(183, 179, 179);
}
  
